@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/global.css */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(178, 178, 178, 0.5) transparent; /* Adjust scrollbar colors as needed */
}

/* For Webkit browsers */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(178, 178, 178, 0.5);
  border-radius: 20px;
  border: 3px solid transparent;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(178, 178, 178, 0.7);
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.custom-popup .mapboxgl-popup-content {
  border-radius: 45px; /* Rounded corners */
  box-shadow: none;
  padding: 0;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.custom-popup .mapboxgl-popup-tip {
  display: none; /* Hide the default popup tip */
}

.custom-popup .p-2 {
  display: flex;
  border-radius: 15px;
  justify-content: start;
  align-items: start;
  text-align: start;
  padding-right: 20px;
}
